@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #6CB4EE;
    --clr-bg-pri: #89CFF0;
    --clr-bg-sec: #f3fafa;
    --clr-acc-main: #002D62;
    --clr-sh-main: #18678d;
    --clr-sh-pri: #002D62;
    --clr-acc-pri: #007FFF;
    --clr-acc-sec: #33cbb8;
    --clr-acc-thi: #d80000;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #002D62;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {
    font-size: var(--h1-fs);
}

h2 {
    font-size: var(--h2-fs);
}

h3 {
    font-size: var(--h3-fs);
}

h4 {
    font-size: var(--h4-fs);
}

p, a, li {
    font-size: var(--p-fs);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  var(--clr-acc-main);
    color: #fff;
    padding: 0 1.5rem;
    height: 2.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}
  
.btn:hover {
    box-shadow: 0 6px 12px var(--clr-sh-main);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 300px;
    position: relative;
    animation: scaleUp 1s ease-in-out;
    transform-origin: center center;
    display: flex;
    gap: 2rem;
}

.card {
    background-color: var(--clr-bg-pri);
    box-shadow: 0px 8px 30px -10px var(--clr-sh-main);
    border-radius: .4rem;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e3e1ef;
}

form {
    padding: 1rem;
}

input[type=checkbox] {
    appearance: none;
    border: 1px solid lightgray;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: .3rem;
    border: 2px solid #e3e1ef;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    margin-right: .5rem;
}

input[type=checkbox]:checked {
    background-color: #ef6c00;
    background-color: var(--clr-acc-main);

}

input[type=checkbox]::before {
    position: absolute;
    content: '\2713';
    font-size: 1rem;
    padding-bottom: 2px;
    color: #fff;
    transform: scale(0), translate(-50%, -50%);
    opacity: 0;
    top: 50%;
    left: 50%;
    transition: 0.3s all ease-in-out;
}

input[type=checkbox]:checked::before {
    transform: scale(1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

form>label {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin: 1rem 0;
}

.card:last-child {
    background: transparent;
    box-shadow: none;
}

.card .btns .btn:first-child{
    margin-right: .5rem;
}

.card .btn i {
    padding-right: .5rem;
}

.main {
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    text-align: center;
    background-color: var(--clr-bg-main);
    border-radius: .7rem;
    height: calc(100% - 6.5rem);
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1rem;
    box-shadow: -0.125rem -0.125rem 0.5rem var(--clr-sh-pri), 0.125rem 0.125rem 1rem var(--clr-sh-pri), -0.125rem -0.125rem 0.5rem var(--clr-sh-pri), 0.125rem 0.125rem 1rem var(--clr-sh-pri);
}

.main:before {
    content: '';
    position: absolute;
    width: calc(100% + 3rem);
    height: calc(100% + 3rem);
    background-color: var(--clr-sh-main);
    box-shadow: inset -0.125rem -0.125rem 0.5rem var(--clr-sh-pri), inset 0.125rem 0.125rem 1rem var(--clr-sh-pri), inset -0.125rem -0.125rem 0.5rem var(--clr-sh-pri), inset 0.125rem 0.125rem 1rem var(--clr-sh-pri);
    border-radius: 1rem;
    z-index: -1;
}

.main i {
    font-size: 2rem;
}

@media screen and (max-width: 550px) {
    .container {
        flex-direction: column;;
    }
    
    .main {
        min-height: 10rem;
    }

}